.footer {
  background-image: url("https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg");
  padding: 30px;
}

.footer i {
  margin-top: 5px;
  color: $gray-most-light;
}

.footer i:hover {
  color: yellow;
}

.footer p {
  /*margin-top: 20px;*/
  color: $gray-most-light;
}
