.person-page {
  padding: 20px 20px;
  height: 400px;
  display: flex;
  align-items: center;
  flex: 0 0 20%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/62/Starsinthesky.jpg");
  color: white;
  font-weight: lighter;
  h1 {
    text-shadow: 20px;
  }
}

.person-page-left {
  margin-left: 10px;
  img {
    transform: none;
    transition: transform 2s ease;
  }
  img:hover {
    box-shadow: $green;
    transform: rotate(365deg);
  }
}

.person-page-between {
    flex: 1 0 20%;
    text-align: left;
    margin-left: 20px;
    .fa-square{
      transition: box-shadow 5s ease;
    &:hover {
      box-shadow: 0px 0px 300px 500px;
    }
  }
    .stars {
      height: 100px;
      width: 300px;
      transform: none;
    }
    .stars:hover a {
      transition: margin 1s ease;
      margin-left: random(200) + px;
      transform: rotate(360deg);

  }
}

.person-page-right {
  margin-right: 10px;
   i {
      font-size: 100px;
      transform: none;
      transition: transform 2s ease;
      &:hover {
        color: $green;
        transform: rotate(365deg)
      }
    }
}
