<body>
<div id="team">
<h1 class="text-center"><span class="hallo">HALLO</span> WERELD</h1>
<ul class="list-inline text-center">
  <% ["merel", "aafke", "bert"].each do |member| %>
    <li>
    <h3><%= member.capitalize %></h3>
      <%= image_tag "#{member}.png", class: "avatar-larger" %>
     </li>
  <% end %>
</ul>
<h3 class="padded text-center">
<a href="mailto:contact@space.com">
<i class="fa fa-envelope"></i> contact@space.com </a></h3>
</div>
</body>


